version: '3.8'

services:

  web:
    build:
      context: ./app
      dockerfile: Dockerfile
    command: gunicorn pong.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/app/web/staticfiles
    expose:
      - 8000
    env_file:
      - ./.env
    depends_on:
      - db


  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - ./.env.db

  nginx:
    build: ./nginx
    volumes:
      - static_volume:/home/app/web/staticfiles
    ports:
      - 9999:80
    depends_on:
      - web

volumes:
  postgres_data:
  static_volume: