{% extends 'index.html' %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="page-header">Memoryyyyyyyy</h1>
			<hr>
		</div>
	</div>
</div>
<div class="button d-flex justify-content-center align-items-center">
	<a href="#" onclick="showGameMemory()" class="btn btn-primary" style="margin-left: 1em;">Memory</a>
</div>

<script>
	// Define the showGameMemory function
	// let gameSettings.numberOfCards;
// let set;
let gameSettings = {
	numberOfCards: 0,
	chosenSet: ""
};
	
function decideHost() {
	let host;
	let client;
	var main = document.getElementById('content');
	main.innerHTML += '<div id="choice"><p style="padding-top: 2em;"> Which type of game do you wanna play ? </p></div>';
	var buttonHost = document.createElement("button");
	var buttonClient= document.createElement("button"); 
	buttonHost.textContent = "Create New Game";
	buttonClient.textContent = "Join Existing Game";
	// buttonSingle.textContent = "1 vs 1";
	// buttonTournament.textContent = "Tournament";
	buttonHost.classList.add("styled-button")
	buttonClient.classList.add("styled-button");
	document.getElementById('choice').appendChild(buttonHost);
	document.getElementById('choice').appendChild(buttonClient);
	return new Promise(function (resolve) {
		buttonHost.addEventListener("click", function() {
			resolve(true);
			document.getElementById('choice').remove();
			host = true;
		});
		buttonClient.addEventListener("click", function() {
			resolve(false);
			document.getElementById('choice').remove();
			client = true;
		});
	});
}

function choiceSet() {
    var main = document.getElementById('content');
    main.innerHTML += `<div id="choice"><p style="padding-top: 1em; display: flex; " > Which set do you want to play with ? </p></div>`;
    var Nature = document.createElement("button");
    Nature.textContent = "Nature (easy)";
    Nature.classList.add("styled-button");
    document.getElementById('choice').appendChild(Nature);
    var Robot = document.createElement("button");
    Robot.textContent = "Robot (hard)";
    Robot.classList.add("styled-button");
    document.getElementById('choice').appendChild(Robot);
    return new Promise(function (resolve) {
        Nature.addEventListener("click", function() {
            resolve(true);
            gameSettings.chosenSet = 1;
            document.getElementById('choice').remove();
        });
        Robot.addEventListener("click", function() {
            resolve(true);
            gameSettings.chosenSet = 2;
            document.getElementById('choice').remove();
        });
    });
}

function choiceCards() {
    var main = document.getElementById('content');
    main.innerHTML += `<div id="choice"><p style="padding-top: 2em; display: flex; " > How many cards do you want to play with: </p></div>`;
    var TwelveCards = document.createElement("button");
    TwelveCards.textContent = "12";
    TwelveCards.classList.add("styled-button");
    document.getElementById('choice').appendChild(TwelveCards);
    var SixteenCards = document.createElement("button");
    SixteenCards.textContent = "16";
    SixteenCards.classList.add("styled-button");
    document.getElementById('choice').appendChild(SixteenCards);
    var TwentyFourCards = document.createElement("button");
    TwentyFourCards.textContent = "24";
    TwentyFourCards.classList.add("styled-button");
    document.getElementById('choice').appendChild(TwentyFourCards);
    var ThirtyTwoCards = document.createElement("button");
    ThirtyTwoCards.textContent = "32";
    ThirtyTwoCards.classList.add("styled-button");
    document.getElementById('choice').appendChild(ThirtyTwoCards);
    return new Promise(function (resolve) {
        TwelveCards.addEventListener("click", function() {
            resolve(true);
            gameSettings.numberOfCards = 12;
            document.getElementById('choice').remove();
        });
        SixteenCards.addEventListener("click", function() {
            resolve(true);
            gameSettings.numberOfCards = 16;
            document.getElementById('choice').remove();
        });
        TwentyFourCards.addEventListener("click", function() {
            resolve(true);
            gameSettings.numberOfCards = 24;
            document.getElementById('choice').remove();
        });
        ThirtyTwoCards.addEventListener("click", function() {
            resolve(true);
            gameSettings.numberOfCards = 32;
            document.getElementById('choice').remove();
        });
    });
}

function showButton() {
	var main = document.getElementById('content');
	main.innerHTML += '<div id="choice"><p style="padding-top: 2em;"> Which type of game do you wanna play ? </p></div>';
	var buttonTournament = document.createElement("button");
	var buttonSingle = document.createElement("button");
	// buttonSingle.textContent = "Find existing game";
	// buttonTournament.textContent = "Create New Game";
	buttonSingle.textContent = "1 vs 1";
	buttonTournament.textContent = "Tournament";
	buttonSingle.classList.add("styled-button")
	buttonTournament.classList.add("styled-button");
	document.getElementById('choice').appendChild(buttonTournament);
	document.getElementById('choice').appendChild(buttonSingle);
	return new Promise(function (resolve) {
		buttonTournament.addEventListener("click", function() {
			resolve(true);
			document.getElementById('choice').remove();
			tournament = true;
		});
		buttonSingle.addEventListener("click", function() {
			resolve(false);
			document.getElementById('choice').remove();
			singleGame = true;
		});
	});
}

function numPlayers() {
	var main = document.getElementById('content');
	main.innerHTML += '<div id="choice"><p style="padding-top: 2em; display: flex; " > How many players do you want to be ? </p></div>';
	var buttonTwo = document.createElement("button");
	var buttonFour = document.createElement("button");
	buttonTwo.textContent = "2 players";
	buttonFour.textContent = "4 players";
	buttonTwo.classList.add("styled-button")
	buttonFour.classList.add("styled-button");
	document.getElementById('choice').appendChild(buttonTwo);
	document.getElementById('choice').appendChild(buttonFour);
	if (tournament) {
		var buttonEight = document.createElement("button");
		var buttonSixteen= document.createElement("button");
		buttonEight.textContent = "8 players";
		buttonSixteen.textContent = "16 players";
		buttonEight.classList.add("styled-button");
		buttonSixteen.classList.add("styled-button");
		document.getElementById('choice').appendChild(buttonEight);
		document.getElementById('choice').appendChild(buttonSixteen);
	}
	return new Promise(function (resolve) {
		buttonTwo.addEventListener("click", function() {
			resolve(true);
			numberPlayers = 2;
			document.getElementById('choice').remove();
		});
		buttonFour.addEventListener("click", function() {
			resolve(true);
			numberPlayers = 4;
			document.getElementById('choice').remove();
		});
		if (tournament) 
        {
			buttonEight.addEventListener("click", function() {
				resolve(true);
				numberPlayers = 8;
				document.getElementById('choice').remove();
			});
			buttonSixteen.addEventListener("click", function() {
				resolve(true);
				numberPlayers = 16;
				document.getElementById('choice').remove();
			});
		}
	});
}
let namePlayer = [];

function submitButton(submit) {
return new Promise(function (resolve) {
	submit.addEventListener("click", function() {
		resolve(true);
	});
});
}

async function getNamePlayer() {
	var main = document.getElementById('content');
	let i = 1;
	while (i <= numberPlayers) {
		main.innerHTML += '<div id="choice">' + 
			'<form style="display: flex; flex-direction: column; align-items: center;">' +
				'<p style="padding-top: 2em; display: flex; align-items:center; justify-content:center;" > Name of player ' + i + ' : </p>' +
				'<input type="text" id="name' + i + '">' +
				'<button type="submit" class="styled-button" style="margin-top: 1em;">Submit</button>' +
			'</form>' +
		'</div>';
		const Submit = main.querySelector('#choice:last-child button');
		const input = main.querySelector('#choice:last-child input');
		const isSubmitted = await submitButton(Submit);
		if (isSubmitted === true && input.value !== "") {
			namePlayer.push(input.value);
			main.querySelector('#choice:last-child').remove();
			i++;
		}
	}
}

function startButton() {
	var main = document.getElementById('content');
	main.innerHTML += '<div id="choice"><p style="text-align: center; padding-top:5em;"> Ready to start ? <br> <br> Let\'s go !</p></div>';
	var startButton = document.createElement("button");
	startButton.textContent = "Start !";
	startButton.classList.add("styled-button");
	document.getElementById('choice').appendChild(startButton);
	return new Promise (function (resolve) {
		startButton.addEventListener("click", function() {
			startGame = true;
			document.getElementById('choice').remove();
			resolve(true);
		});
	});
}

async function showButton() {
	var main = document.getElementById('content');
	main.innerHTML += '<div id="choice"><p style="padding-top: 2em;"> Which type of game do you wanna play ? </p></div>';
	var buttonRemote = document.createElement("button");
	var buttonLocal = document.createElement("button"); 
	buttonLocal.textContent = "Play local Game";
	buttonRemote.textContent = "Play remote Game";
	// buttonSingle.textContent = "1 vs 1";
	// buttonTournament.textContent = "Tournament";
	buttonLocal.classList.add("styled-button")
	buttonRemote.classList.add("styled-button");
	document.getElementById('choice').appendChild(buttonRemote);
	document.getElementById('choice').appendChild(buttonLocal);
	return new Promise(function (resolve) {
		buttonRemote.addEventListener("click", function() {
			resolve(true);
			document.getElementById('choice').remove();
			remote = true;
		});
		buttonLocal.addEventListener("click", function() {
			resolve(false);
			document.getElementById('choice').remove();
			local = true;
		});
	});
}

async function showGameMemory() {

	var mainElement = document.getElementById('content');
	mainElement.innerHTML = '<p style="display: flex; text-align: center; justify-content:center; font-size: 3em; ">Memory game</p>';    
	gameEnded = true;
	debug = 0;
	startGame = false;
	tournament = false;
	singleGame = false;
	numberPlayers = 0;
	namePlayer = [];
	if (await showButton())
	{
		//remote Game
		numberPlayers = 2;
		if (await decideHost())
		{
			namePlayer[0] = "{{user.username}}";
			await choiceSet();
			await choiceCards();
			remoteHost();
		}
		else
		{
            namePlayer[1] = "{{user.username}}";
			remoteClient();
		}
	}
	else
	{
		//local Game
		namePlayer[0] = "{{user.username}}";
		namePlayer[1] = "Guest Player";
		if (namePlayer.length === numberPlayers && scoreToDo !== 0)
		{
			await startButton();
			if (startGame === true)
				launchGameMemory();
		}
	}
}
let gameStarted = false;
let isHost = false; 
let gameRoomSocket = null;

async function remoteHost() {
    let hostName = "{{ user.username }}"; // This should be sanitized to ensure URL-friendliness
    let sanitizedRoomName = encodeURIComponent(`${hostName}_Game`).replace(/'/g, ""); // Sanitize and remove special characters
    let socket = new WebSocket(`wss://${window.location.host}/wss/socket-server/lobby/`); // Connect to the lobby

    socket.onopen = function(event) {
		socket.send(JSON.stringify({ 
			action: 'create_room_memory', 
			host_name: hostName, 
			room_name: sanitizedRoomName, 
		}));
    };
    
    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        if (data.action === 'room_created_memory') {
            console.log('Room created:', data.room_id);
            // Close the lobby connection after creating the room
            socket.close();
            // Now, establish a new WebSocket connection to the newly created game room
            gameRoomSocket = new WebSocket(`wss://${window.location.host}/wss/socket-server/${sanitizedRoomName}/`);
            isHost = true;
            gameRoomSocket.onopen = function() {
                console.log("Game room connection established for host.");
            // The host is now waiting for a second player to join the room
            };
            gameRoomSocket.onmessage = function(event) {
                // Handle messages from the server, such as a player joining the room
                const data = JSON.parse(event.data);
                if (data.action === 'player_joined_memory') {
                    console.log(`${data.guest_name} has joined the game.`);
                    namePlayer[1] = data.guest_name;
                }
                if (data.action === 'countdown_memory') {
                    console.log('Countdown:', data.message);
                    // updateCountdownDisplay(data.message);
                }
                if (data.action === 'start_game_memory') {
                    // Clear the countdown and start the game
                    if (gameStarted === false)
                    {
                        gameStarted = true;
                        console.log('Game is starting... Host function ');
                        let countdownElement = document.getElementById('countdown');
                        if (countdownElement) {
                            countdownElement.remove();
                        }
                        launchGameMemory(cardInfo);
                    }
                }
                if (data.action === 'player_turn_memory') 
                {
                    PlayerToPlay = data.player;
                    updatePlayerTurnsDisplay();
                    updatePlayerScore(1);
                    updatePlayerScore(2);
                }
                if (data.action === 'card_clicked') {
                    let clickedCard = document.getElementById(data.card_id);
                        clickedCard.classList.toggle("show-image");
                }
                if (data.action === 'card_returned') {
                    let returnedCard = document.getElementById(data.card_id);
                    if (returnedCard)
                        returnedCard.classList.toggle("show-image");
                }
                if (data.action === 'update_score_memory') {
                    scorePlayer1 = data.score1;
                    scorePlayer2 = data.score2;
                }
                if (data.action === 'game_ended_memory')
                    endGameMemory(data.winner);
            }
            gameRoomSocket.onclose = function() {
                console.log("Game room connection closed.");
            };
        }
        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
    }
}

function updateClientSettings(receivedSettings) {
   gameSettings.numberOfCards = receivedSettings.numberOfCards;
   gameSettings.chosenSet = receivedSettings.chosenSet;
}

// clientsocket
let roomSocket = null;

async function remoteClient() {
    let socket = new WebSocket(`wss://${window.location.host}/wss/socket-server/lobby/`); // Connect to a 'lobby' room first
    socket.onopen = function(event) {
        // Request the list of active game rooms once the WebSocket connection is open
        socket.send(JSON.stringify({ action: 'list_rooms_memory' }));
    };
    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        // Assuming 'list_rooms' action returns an array of room IDs in 'rooms'
        if (data.action === 'list_rooms_memory') {
            const games = data.rooms; // This replaces 'games' from 'activeGames' message
            var gameList = document.getElementById('content');
            gameList.innerHTML = ''; // Clear previous content

            if (games.length > 0) {
                // Dynamically create buttons for each active game
                games.forEach((game) => {
                    var button = document.createElement('button');
                    button.textContent = game;
                    button.classList.add("styled-button");
                    button.addEventListener("click", function() {
                        joinGameRoomMemory(game);
                    });
                    gameList.appendChild(button);
                });
            } else {
                // Display message if no active games are available
                gameList.innerHTML = '<p style="display: flex; text-align: center; justify-content:center; font-size: 3em;">No active games</p>';
            }
        } else if (data.action === 'joined_room_memory') {
            console.log('Joined room:', data.room_id);
            // Handle additional logic for when the client successfully joins a room
        }
        
    };
    
    function joinGameRoomMemory(roomId) {
        // Close the current lobby connection
        socket.close();
        // Open a new WebSocket connection for the selected room
        roomSocket = new WebSocket(`wss://${window.location.host}/wss/socket-server/${roomId}/`);
        roomSocket.onopen = function() {
            console.log("Game room connection established for client.");
            roomSocket.send(JSON.stringify({ action: 'join_room_memory', room_id: roomId , guest_name: "{{ user.username }}"}));
            namePlayer[0] = roomId.replace('_Game', '');
        };
        roomSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            console.log(data);
            if (data.action === 'countdown_memory')
                console.log('Countdown');
            else if (data.action === 'start_game_memory') {
                console.log("start game guest side")
                let countdownElement = document.getElementById('countdown');
                if (countdownElement) {
                    countdownElement.remove();
                }
            }
            if (data.action === 'card_info') {
                var cards_info = data.cards;
                console.log("cards received");
                updateClientSettings(data.settings);
                launchGameMemory(cards_info);
            }
            if (data.action === 'player_turn_memory') {
                console.log("player turn updated");
                PlayerToPlay = data.player;
                updatePlayerTurnsDisplay();
                updatePlayerScore(1);
                updatePlayerScore(2);
            }
            if (data.action === 'card_clicked') {
                let clickedCard = document.getElementById(data.card_id);
                if (clickedCard)
                    clickedCard.classList.toggle("show-image");
            }
            if (data.action === 'card_returned') {
                let returnedCard = document.getElementById(data.card_id);
                if (returnedCard)
                    returnedCard.classList.toggle("show-image");
            }
            if (data.action === 'update_score_memory') {
                scorePlayer1 = data.score1;
                scorePlayer2 = data.score2;
            }
            if (data.action === 'game_ended_memory')
                endGameMemory(data.winner);
        };
    }
}
let cardInfo = [];

function updateCountdownDisplayMemory(message) {
    let countdownElement = document.getElementById('countdown');
    if (!countdownElement) {
        countdownElement = document.getElementById('content');
        countdownElement.innerHTML = '';
        countdownElement = document.createElement('div');
        countdownElement.id = 'countdown';
        document.getElementById('content').appendChild(countdownElement);
    }
    countdownElement.textContent = `Game starts in: ${message}`;
}

// BELOW IS THE GAME'S DYNAMICS

let cards = {
    id: null,
    width: 100,
    margin: 10,
    border: 2,
    ref: null,
    index: null
}

let setAlreadyUsed = [];

function randomSet(set, card) {
    let index;
    let ref;

    do {
        index = Math.floor(Math.random() * set.length);
        ref = set[index];
    } while (setAlreadyUsed.includes(ref));

    card.ref = ref;
    card.index = index;
    setAlreadyUsed.push(ref);
    return card;
}

let PlayerToPlay;
let firstSet;
let secondSet;

function launchGameMemory(cards_info) {
    var mainElement = document.getElementById('content');
    PlayerToPlay = namePlayer[0];
    let sets = [natureFirstSet12, natureSecondSet12, natureFirstSet16, natureSecondSet16, natureFirstSet24, natureSecondSet24, natureFirstSet32, natureSecondSet32, 
                        robotFirstSet12, robotSecondSet12, robotFirstSet16, robotSecondSet16, robotFirstSet24, robotSecondSet24, robotFirstSet32, robotSecondSet32]
    if (gameSettings.chosenSet === 1)
        sets = sets.slice(0, 8);
    else if (gameSettings.chosenSet === 2)
        sets = sets.slice(8, 16);
    switch (gameSettings.numberOfCards) {
        case 12:
            firstSet = sets[0];
            secondSet = sets[1];
            break;
        case 16:
            firstSet = sets[2];
            secondSet = sets[3];
            break;
        case 24:
            firstSet = sets[4];
            secondSet = sets[5];
            break;
        case 32:
            firstSet = sets[6];
            secondSet = sets[7];
            break;
    }
    let widthBoard = (cards.width + cards.margin * 2 + cards.border * 2) * (Math.ceil(gameSettings.numberOfCards / 4));
    mainElement.innerHTML = '<div id="whole">' + 
                                '<div id="Player1"><p id = "turn1"></p><div id = "progress-bar-container1"></div></div>' +
                                '<div id="memory-game" style = "width:' + widthBoard + 'px;"></div>' + 
                                '<div id="Player2"><p id = "turn2"></p><div id = "progress-bar-container2"></div></div>' +
                            '</div>';
    if (isHost)
    {
        for (let i = 1; i <= gameSettings.numberOfCards; i++) {
            var card = document.createElement("div");
            card.classList.add("card");
            card.id = "card" + i;
            if (i % 2 === 0)
            {
                randomSet(firstSet, card);
                card.style.setProperty("--bg-image", card.ref);
            }
            else
            {
                randomSet(secondSet, card);
                card.style.setProperty("--bg-image", card.ref);
            }        
            document.getElementById('memory-game').appendChild(card);
            cardInfo.push(card);
        }
        gameRoomSocket.send(JSON.stringify({action: 'card_info', cards: cardInfo, settings: gameSettings}));
    }
    else
    {
        // Add cards to the memory game
        console.log("Client side : receiving cards information from the host");
        for (let j = 0; j < gameSettings.numberOfCards; j++) {
            var cardElement = document.createElement("div");
            cardElement.classList.add("card");
            let k = j + 1;
            cardElement.id = "card" + k;
            cardElement.style.setProperty("--bg-image", cards_info[j].ref);
            cardElement.index = cards_info[j].index;
            document.getElementById('memory-game').appendChild(cardElement);
        }
    }
    playTime();
}

let scorePlayer1 = 0;
let scorePlayer2 = 0;
let cardTurned = 0;
let cardTurnedArrayIndex = [];
let cardTurnedArrayId = [];

function updatePlayerTurns() {
    if (isHost)
        gameRoomSocket.send(JSON.stringify({action: 'player_turn_memory', player: PlayerToPlay}));
    else
        roomSocket.send(JSON.stringify({action: 'player_turn_memory', player: PlayerToPlay}));
}

function updatePlayerTurnsDisplay() {
    if (PlayerToPlay === namePlayer[0])
    {
        document.getElementById('Player1').style.backgroundColor = 'skyblue';
        document.getElementById('Player2').style.backgroundColor =  'white';
    }
    else
    {
        document.getElementById('Player1').style.backgroundColor =  'white';
        document.getElementById('Player2').style.backgroundColor = 'skyblue';
    }
}   

function updatePlayerScore(playerNumber) {
    var score_max = gameSettings.numberOfCards / 2;
    var progressBar = document.createElement('div');
    progressBar.classList.add('progress-bar');
    let height = 20 * gameSettings.numberOfCards / 2;
    progressBar.style.width = '20px';
    progressBar.style.height = height + 'px';
    var progressBarContainerId = 'progress-bar-container' + playerNumber;
    document.getElementById(progressBarContainerId).innerHTML = '';
    document.getElementById(progressBarContainerId).appendChild(progressBar);
    var pourcentageScored = (playerNumber === 1 ? scorePlayer1 : scorePlayer2) / score_max * 100;
    progressBar.style.position = 'relative';
    progressBar.innerHTML = `<div class="scored"></div><div class="back"></div><span class="score-text"></span>`; // Include a span for the score text
    progressBar.querySelector('.scored').style.width = '100%';
    progressBar.querySelector('.back').style.width = '100%'; 
    progressBar.querySelector('.scored').style.height = pourcentageScored +'%';
    progressBar.querySelector('.back').style.height = (100 - pourcentageScored) + '%'; 
    progressBar.querySelector('.scored').style.backgroundColor = '#1e90ff'; // Blue color for the scored part
    progressBar.querySelector('.back').style.backgroundColor = (playerNumber === 1 ? document.getElementById('Player1').style.backgroundColor : document.getElementById('Player2').style.backgroundColor);
    progressBar.querySelector('.scored').style.position = 'absolute';
    progressBar.querySelector('.scored').style.bottom = '0';
    progressBar.querySelector('.back').style.position = 'absolute';
    progressBar.querySelector('.back').style.bottom = pourcentageScored + '%';
    var scoreTextElement = progressBar.querySelector('.score-text');
    scoreTextElement.innerText = (playerNumber === 1 ? scorePlayer1 : scorePlayer2);
    scoreTextElement.style.position = 'absolute';
    scoreTextElement.style.bottom = '100%';
    scoreTextElement.style.left = '50%';
    scoreTextElement.style.transform = 'translateX(-50%)';
}

let init = false;
function initializeGameMemory() {
    console.log("init game memory");
    init = true;
    PlayerToPlay = namePlayer[0];
    var turn1 = document.getElementById('turn1');
    var turn2 = document.getElementById('turn2');
    turn1.innerHTML = '<p> ' + namePlayer[0] + ' </p>';
    turn2.innerHTML = '<p> ' + namePlayer[1] + ' </p>';
    updatePlayerTurns();
    updatePlayerTurnsDisplay();
    updatePlayerScore(1);
    updatePlayerScore(2);
}

function playTime() {
    console.log("play time");
    if (init === false)
        initializeGameMemory();
    document.getElementById('memory-game').addEventListener("click", function(event) {
        if ((isHost && PlayerToPlay === namePlayer[0]) || (!isHost && PlayerToPlay === namePlayer[1])) {
            if (event.target.classList.contains("card")) {
                if (cardTurned < 2 && !event.target.classList.contains("show-image")) {
                    if (isHost)
                        gameRoomSocket.send(JSON.stringify({ action: 'card_clicked', card_id: event.target.id}));
                    else
                        roomSocket.send(JSON.stringify({ action: 'card_clicked', card_id: event.target.id}));
                        cardTurned++;
                        cardTurnedArrayIndex.push(event.target.index);
                        cardTurnedArrayId.push(event.target.id);
                        if (cardTurned === 2) {
                            checkCards();
                        }
                        if (scorePlayer1 + scorePlayer2 === gameSettings.numberOfCards / 2) {
                            if (isHost)
                                gameRoomSocket.send(JSON.stringify({action: 'game_ended_memory', winner: scorePlayer1 > scorePlayer2 ? namePlayer[0] : namePlayer[1]}));
                            else
                                roomSocket.send(JSON.stringify({action: 'game_ended_memory', winner: scorePlayer1 > scorePlayer2 ? namePlayer[0] : namePlayer[1]}));
                        }
                    }
            }
        }
        });
    }

function endGameMemory(winner)
{
    var mainElement = document.getElementById('content');
    mainElement.innerHTML = ''; // Remove all inner HTML content  
    mainElement.innerHTML = '<div id="endGame" style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; overflow: hidden;">' +
    '<p style="text-align: center; font-size:4em;">' + winner + ' won ! </p>' +
    '<p><img src="img/gif_robot.gif" alt="Victory logo" style = "width: 50vh; height: 50vh;"></p>' +
    '<p style="text-align: center;"> If you want to play again with the same settings, press the button below.</p>' +
    '</div>';
    cardTurned = 0;
    cardTurnedArrayIndex.length = 0;
    scorePlayer1 = 0;
    scorePlayer2 = 0;
    cardTurnedArrayId.length = 0;
    setAlreadyUsed.length = 0;
    cardInfo.length = 0;
    var startAgain = document.createElement("button");
    startAgain.textContent = "Start again";
    startAgain.classList.add("styled-button")
    document.getElementById('endGame').appendChild(startAgain);
    startAgain.addEventListener("click", function() {
        launchGameMemory(cardInfo);
    });
}

function checkCards() {

    if (cardTurnedArrayIndex[0] === cardTurnedArrayIndex[1])
    {        
        if (PlayerToPlay === namePlayer[0])
        {
            scorePlayer1++;
            if (isHost)
                gameRoomSocket.send(JSON.stringify({action: 'update_score_memory', score1: scorePlayer1, score2: scorePlayer2}));
            else
                roomSocket.send(JSON.stringify({action: 'update_score_memory', score1: scorePlayer1, score2: scorePlayer2}));
        }
        else if (PlayerToPlay === namePlayer[1])
        {
            scorePlayer2++;
            if (isHost)
                gameRoomSocket.send(JSON.stringify({action: 'update_score_memory', score1: scorePlayer1, score2: scorePlayer2}));
            else
                roomSocket.send(JSON.stringify({action: 'update_score_memory', score1: scorePlayer1, score2: scorePlayer2}));
        }
        turnUpdate(1); // mode 1, players do not switch
    }
    else
    {
        setTimeout(function() {
        var card1 = document.getElementById(cardTurnedArrayId[0]);
        var card2 = document.getElementById(cardTurnedArrayId[1]);
        if (card1 && card2) {
            if (isHost)
            {
                gameRoomSocket.send(JSON.stringify({ action: 'card_returned', card_id: cardTurnedArrayId[0]}));
                gameRoomSocket.send(JSON.stringify({ action: 'card_returned', card_id: cardTurnedArrayId[1]}));
            }
            else
            {
                roomSocket.send(JSON.stringify({ action: 'card_returned', card_id: cardTurnedArrayId[0]}));
                roomSocket.send(JSON.stringify({ action: 'card_returned', card_id: cardTurnedArrayId[1]}));
            }
            turnUpdate(2); // mode 2, players switch
        }
        }, 2000);
    }
} 

function turnUpdate(mode)
{
    if (mode === 2)
       PlayerToPlay = (PlayerToPlay === namePlayer[0] ? namePlayer[1] : namePlayer[0]);
    cardTurnedArrayId.length = 0;
    cardTurnedArrayIndex.length = 0;
    cardTurned -= 2;
    updatePlayerTurns();
    updatePlayerScore(1);
    updatePlayerScore(2);
}
</script>

{% else %}
<li class="nav-item">
	<a class="nav-link" href="signIn">Sign In</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="signUp">Sign Up</a>
</li>
{% endif %}
{% endblock %}