{% extends "index.html" %}

{% block content %}
{% if request.user.is_authenticated %}

<div class="container mt-4">
  <h1 class="text-center">Welcome to Pong!</h1>
</div>
<div class="container mt-4">
  <h1 class="text-center">Ranking</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <ul class="list-group">
        {% for user in top_three_users %}
        <li class="list-group-item">{{ forloop.counter }}: {{ user.username }} Games won: {{ user.pong_games_won }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
  
{% else %}
<div class="login-prompt">
    <div class="text-center">
        <h2>Welcome!</h2>
        <p>Please sign in or sign up to continue...</p>
        <div class="mt-4">
            <a href="signIn" class="btn btn-primary mr-2">Sign In</a>
            <a href="signUp" class="btn btn-success">Sign Up</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}