{% extends "index.html" %}
{% load i18n %}
{% block content %}
  {% if request.user.is_authenticated %}
    <div class="container mt-4">
      <h1 class="text-center">{% trans "User Information" %}</h1>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <ul class="list-group">
            <li class="list-group-item">{% trans "Username:" %} {{ request.user.username }}</li>
            <p>{% trans "Pong:" %}</p>
            <li class="list-group-item">{% trans "Games Played:" %} {{ request.user.pong_games_played }}</li>
            <li class="list-group-item">{% trans "Games Won:" %} {{ request.user.pong_games_won }}</li>
            <li class="list-group-item">{% trans "Win Streak:" %} {{ request.user.pong_win_streak }}</span></li>
            <p>{% trans "Memory:" %}</p>
            <li class="list-group-item">{% trans "Games Played:" %} {{ request.user.memory_games_played }}</li>
            <li class="list-group-item">{% trans "Games Won:" %} {{ request.user.memory_games_won }}</li>
            <li class="list-group-item">{% trans "Win Streak:" %} {{ request.user.memory_win_streak }}</span></li>
          </ul>
        </div>
      </div>
    </div>
    {% else %}
      {% include '_login_signup.html' %}
  {% endif %}
{% endblock %}