<!-- pong_app/templates/pong_app/game.html -->


{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <link rel="stylesheet" href="{% static 'pong_app/style.css' %}">
</head>
<body>
    <h1>Pong Game</h1>
    <canvas id="pongCanvas" width="800" height="600"></canvas>
    <a href="{% url 'pong_app:scoreboard' %}"><button>View Scoreboard</button></a>
    <a href="{% url 'pong_app:profile' %}"><button>View Profile</button></a>
    <script src="{% static 'pong_app/pong.js' %}"></script>
</body>
</html>


