{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong - The ultimate tournament</title>
     <link rel="stylesheet" href="style.css"> 
    <link rel="stylesheet" href="pong.css">
    <link rel="stylesheet" href="memory.css">
    <script src="home.js" defer></script>
    <script src="gamePong.js" defer></script>
    <script src="gameMenu.js" defer></script>
    <script src="gameMemory.js" defer></script>
    <script src="setMemoryGames.js" defer></script>
    <script src="score.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
            <img class="gif-logo" src="img/gamer.gif" alt="Our pong logo">
            <h1 id="title">42 Pong</h1> def __str__(self):
			return self.username
    <nav>
        <ul>
			{% if request.user.is_authenticated %}
            <li><a href="#" onclick="showHome()">Home</a></li>
            <li>
                <div class="dropdown">
                <button class="dropbtn">Games</button>
                <div class="dropdown-content">
					<a href="#" onclick="showGamePong()">Pong</a>
                    <a href="#" onclick="showGameMemory()">Memory</a>
                </div>                
			</div>  
            <li><a href="#" onclick="showScoreboard()">Scoreboard</a></li>
            <li><a href="#" onclick="showProfile()">Profile</a></li>
			<li class="nav-item ">
				<a class="nav-link" href="signOut">Sign Out</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="signIn">Sign In</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="signUp">Sign Up</a>
			</li>
			{% endif %}

		</ul>
    </nav>
</div>
{% block content%}
{% endblock %}
    <main id="content">
    </main>
    <div class="footer">
        <div class="footer-text">
            <p>This website has been created for the last project of 42 by:</p>
        </div>
        <div class="names">
            <div class="name">
                <p>Mariia Paraskun</p>
                <div class="pictures_team">
                    <img src="img/pictures_team/mariia.png" alt="Mariia">
                </div>
                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/" target="_blank"><img class="linkedin" src="img/linkedin.png" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/" target="_blank"><img class="github" src="img/github.png" alt="github"></a>
                </div>
                <div class="circle"></div>
            </div>
            <div class="name">
                <p>Sung Hyan Lee</p>
                <div class="pictures_team">
                    <img src="img/pictures_team/sunny.jpeg" alt="Sunny">
                </div>                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/" target="_blank"><img class="linkedin" src="img/linkedin.png" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/" target="_blank"><img class="github" src="img/github.png" alt="github"></a>
                </div>
            </div>
            <div class="name">
                <p>Max Schaub</p>
                <div class="pictures_team">
                    <img src="img/pictures_team/max.png" alt="Max">
                </div>                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/" target="_blank"><img class="linkedin" src="img/linkedin.png" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/" target="_blank"><img class="github" src="img/github.png" alt="github"></a>
                </div>
            </div>
            <div class="name">
                <p>Feras Hassouneh</p>
                <div class="pictures_team">
                    <img src="img/pictures_team/feras.png" alt="Feras">
                </div>                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/" target="_blank"><img class="linkedin" src="img/linkedin.png" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/" target="_blank"><img class="github" src="img/github.png" alt="github"></a>
                </div>
            </div>
            <div class="name">
                <p>Emilie Drouot</p>
                 <div class="pictures_team">
                    <img src="img/pictures_team/emilie.png" alt="Emilie">
                </div>                <div class="socials">
                    <a class="social_logo" href="https://www.linkedin.com/" target="_blank"><img class="linkedin" src="img/linkedin.png" alt="linkedin"></a>
                    <a class="social_logo" href="https://www.github.com/" target="_blank"><img class="github" src="img/github.png" alt="github"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="home.js" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            showHome();
        });
    </script>
</body>
</html>